.row {
    margin-bottom: 20px;
}

.mt80 {
    margin-top: 80px;
}

.content {
    margin-bottom: 20px;
}

.banner {
    padding: 25px 10px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.banner h1 {
    font-weight: 700;
    width: 100%;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

.banner p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #00abff;
    margin-bottom: 0px;
}

.info ul {
    padding-left: 22px;
    margin-bottom: 40px;
}

.right li {
    margin: 10px 0;
    font-size: 14px;
    line-height: 16px;
}

.right li div {
    padding: 5px 22px;
}

.right .subject {
    margin-bottom: 40px;
}