h3 {
    margin-top: 0;
}

.wrap {
    margin-bottom: 20px;
}

ul.check-list {
    margin: 0;
    padding: 0;
}

ul.check-list li {
    margin: 0;
    border: none;
    font-weight: 300;
    padding: 6px 0;
    list-style: none;
    position: relative;
    line-height: 18px;
    text-align: left;
}

.todo-checkbox {
    width: 100%;
    padding-right: 25px;
    min-height: 16px;
    cursor: pointer;
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}

.todo-checkbox>input {
    height: 0;
    z-index: -100 !important;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    margin: 0;
}

.todo-checkbox>input:checked+div:before {
    content: '\f00c';
}

.todo-checkbox>input[type="radio"]:checked+div:before {
    content: '\f192';
}

.todo-checkbox>div.noselect {
    white-space: nowrap;
    /*height: 16px;*/
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 22px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-checkbox>div.noselect:before {
    float: left;
    /*display: inline-block;*/
    color: #888;
    content: '\f10c';
    transition: none;
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 300;
    font-size: 12px;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 6px;
    position: relative;
    top: 0;
    margin-left: -22px;
}

.caution {
    margin-bottom: 20px;
    padding: 10px;
    border: 4px solid #665851;
    border-radius: 4px;
    width: 400px;
    height: 100px;
}

.text {
    /*margin-left: 10px;*/
    /*width: 280px;*/
    white-space: pre-wrap;
}

.contact {
    line-height: 16px;
    margin-bottom: 10px;
}

.contact span {
    font-size: 14px;
    color: #aaa;
}

.login-box label {
    text-transform: initial;
}

.fa {
    width: 16px;
}

.more {
    cursor: pointer;
    margin-bottom: 5px;
}

.more-info {
    padding-left: 18px;
}

.approve {
    margin-top: 20px;
}

.fa-chevron-right+.more-info {
    height: 0;
}

.fa-chevron-down+.more-info {
    height: auto;
}
